<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/x-icon" href="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="no-referrer">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="format-detection" content="address=no">
    <title>roe-items</title>
    <script src="../controllers/lib/vue.min.js"></script>
    <link rel="stylesheet" href="../styles/index.less">
    <!-- inject:css -->
    <!-- endinject -->
</head>

<body>
    <ul class="roe-items">
        <li v-for="item in data" :class="{invalid:item.invalid}">
            <i class="icon-info" v-if="item.invalid" v-text="item.invalidReason||'已从游戏中移除'"></i>
            <div class="content">
                <img :src="item.image" :alt="item.name">
                <div class="info">
                    <h3>
                        <span v-text="item.name"></span>
                        <em v-text="item.subName" v-if="item.subName"></em>
                    </h3>
                    <p v-html="item.desc"></p>
                </div>
                <i v-if="item.weight" v-text="`容量: ${item.weight}`"></i>
            </div>
        </li>
    </ul>

    <script src="../controllers/index.js"></script>
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>
